body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    color: rgb(95, 95, 95);
}
.First-color{
    color: rgb(25, 158, 158);
}
.First-Image{
    width: 50%;
    padding-left: 5%;
}
.First-Image img{
    width: 70%;
    padding-top: 13%;
    padding-left: 6%;
}
.First-Section{
    display: flex;
    margin-bottom: 150px;
}
h4{
    color: rgb(95, 95, 95);
}
.Button{
    text-decoration: none;
    background-image: linear-gradient( rgb(13, 181, 181), rgb(215, 247, 255));
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.Second-image{
    width: 50%;
    padding-left: 5%;
}
.Second-image img{
    width: 83%;
}
.Third-Section{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 25px rgb(5, 56, 58);
    color: rgb(0, 104, 145);
    padding-left: 25px;
    border-radius: 15px;
}
#last-one{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(0, 0, 67), rgb(0, 0, 0));
    border-image-slice: 30 fill;
}
#last-second{
    border: 13px solid;
    
    border-image: linear-gradient(rgb(0, 0, 67), rgb(102, 11, 11));
    border-image-slice: 30;
}
.last-section{
    margin-bottom: 150px;
}
footer p{
    text-align: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    
}